<h1>CSS Game</h1>

<p class="alert alert-info">
    Write CSS and HTML to match the mock image below! click capture to see your result, and compare to get your score (The higher the better)
</p>
<div class="to-match">
    <h2>Match this mock!</h2>
    <img class="mock" src="{{image}}"/>
    <canvas class="mock-image"></canvas>
</div>

<div class="controls">
    <a href="" class="btn btn-primary snippet-capture">Capture!</a>
    <a href="" class="btn btn-success compare">Compare!</a>
</div>

<div class="output">
    <iframe class="snippet-output" width="200" height="200"></iframe>
    <canvas class="snippet-image"></canvas>
</div>

<div class="css-code">
    <label class="css-label">css</label>
    <textarea class="css" rows="10" cols="50"></textarea>
</div>

<div class="html-code">
    <label class="html-label">html</label>
    <textarea class="html" rows="10" cols="50"><!-- HTML Here --></textarea>
</div>

