<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css">
    <link href="/lib/codemirror/codemirror.css" media="all" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <script src="/lib/canvas-to-blob.js"></script>
    <script src="/lib/resemble.js"></script>
    <script src="/lib/codemirror/codemirror-compressed.js"></script>
</head>
<body>
    <div id="content">
    </div>
    <script type="text/javascript" src="/javascripts/application.js"></script>
</body>
</html>